{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable

 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <section class="banner-images-ig-red-social p-0" {{ attributes.addClass(classes) }}>
    {% set image_background = content.field_imagen_banner_red_social_i[0] %}
    {% set image_img1 = content.field_imagen_banner_red_social_i[1] %}
    {% set image_img2 = content.field_imagen_banner_red_social_i[2] %}
    {% set image_img3 = content.field_imagen_banner_red_social_i[3] %}
    {% set image_img4 = content.field_imagen_banner_red_social_i[4] %}
    {% set text = content.field_texto_de_red_social[0] %}
    {% set title = content.field_titulo_banner_ig_red_socia[0] %}
    {% set url = content.field_url_ig_red_social[0] %}

    <figure class="banner-images-ig-red-social__background">
      {{ image_background }}
    </figure>
    <div class="banner-images-ig-red-social__images-container">
        <header class="banner-images-ig-red-social__header">
          <h2 class="banner-images-ig-red-social__title">
            {{ title }}
          </h2>
          <div class="banner-images-ig-red-social__cta">
            <a href="{{url}}" target="_blank" rel="noopener noreferrer">
              {{ text }}
            </a>
          </div>
        </header>
        <figure class="banner-images-ig-red-social__image">
          {{ image_img1 }}
        </figure>
        <figure class="banner-images-ig-red-social__image">
          {{ image_img2 }}
        </figure>
        <figure class="banner-images-ig-red-social__image">
          {{ image_img3 }}
        </figure>
        <figure class="banner-images-ig-red-social__image">
          {{ image_img4 }}
        </figure>
    </div>
  </section>
{% endblock paragraph %}
